<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">

    <title>POEMNET</title>
</head>

<body>
    <ol>

    <!-- _____[HEADER]_______ -->
    <header class="header">

        <!-- _____[HEADER LOGO]_______ -->
        <div class="header__logo">
            <h1><a href="index.html">POEM<span>NET</span></a></h1>
        </div>

        <!-- _____[MAIN CONTENT]_______ -->
        <div class="header__content">

            <div class="header__content--left">
                <img src="img/form-image.png" alt="">
            </div>

            <!-- _____[FORM]_______ -->
            <div class="header__content--form">
                <form>
                    <h1>USER LOGIN</h1>
                    <div class="header__content--form--group">
                        <label for="name"><img src="img/Icon awesome-user.svg" alt=""></label>
                        <input type="text" id="name">
                    </div>

                    <div class="header__content--form--group">
                        <label for="password"><img src="img/Icon awesome-lock.svg" alt=""></label>
                        <input type="password" id="password">
                    </div>

                    <button type="submit">Login</button>

                </form>
            </div>

        </div>

    </header>
</ol>

</body>

</html>