@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a,
input,
input::placeholder,
button {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  color: #000;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  object-fit: contain;
}

.max-width {
  max-width: 1207px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 0 3.3rem;
  padding-top: 4rem;
  min-height: 100vh;
  background: url("../img/bg-image.png"), linear-gradient(#f58eee 0%, #ee8c8f 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 107%;
}

.header__logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__logo h1 a {
  font-size: 7rem;
  color: #6569FF;
}

.header__logo h1 a span {
  color: white;
}

.header__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: -5rem;
  min-height: calc(100vh - 15.3rem);
  justify-content: center;
  align-items: center;
}

.header__content--left {
  max-width: 72.7rem;
  width: 100%;
  height: 40rem;
}

.header__content--form {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header__content--form h1 {
  font-size: 6rem;
  margin-bottom: 4.1rem;
  color: #fff;
}

.header__content--form--group {
  margin-bottom: 3.8rem;
  position: relative;
}

.header__content--form--group:last-child {
  margin-bottom: 0;
}

.header__content--form--group label {
  position: absolute;
  top: 50%;
  left: 3.7rem;
  transform: translateY(-50%);
}

.header__content--form--group label img {
  width: 3.2rem;
  height: 3.2rem;
}

.header__content--form--group input {
  width: 59rem;
  height: 9.8rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
  padding-left: 8rem;
  padding-right: 1.5rem;
  font-size: 3rem;
  color: #fff;
}

.header__content--form button[type="submit"] {
  width: 28rem;
  height: 8.3rem;
  border-radius: 40px;
  background: #6569ff;
  font-size: 4.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: all .2s linear;
}

.header__content--form button[type="submit"]:hover {
  background: #4f55f3;
}

@media only screen and (max-width: 84.375em) {
  html {
    font-size: 45%;
  }

  .header__content {
    justify-items: center;
  }
}

@media only screen and (max-width: 56.25em) {
  .header__content {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37%;
  }

  .header__content--left {
    max-width: 90%;
  }

  .header__content--form {
    align-self: start;
  }

  .header__content--form--group label {
    left: 6rem;
  }

  .header__content--form--group input {
    width: 95%;
    padding-left: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */